

.photo {
	position: relative;
	padding-bottom: 20px;
}

.photo h2 {
	position: absolute;
	top: 70%;
	left: 45%;
	color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.photoFeed {
	margin-top: 80px;
}