

.photo {
	position: relative;
	padding-bottom: 20px;
}

.space {
	height: 10em;
}

.photo h2 {
	position: absolute;
	top: 70%;
	margin-left: -4%;
	left: 50%;
	color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   border-radius: 20px;
   padding: 10px; 
}
@media (max-width: 750px) {
	.photo h2 {
		margin-left: -13%;
		left: 50%;
	}
}


.message-text {
	visibility: hidden;
}
.photoFeed {
	margin-top: 80px;
}

.navbar-right {
	margin-right: 0;
}